.sort-icon{
    font-size: 20px;
    color: rgb(196, 196, 201);
    cursor: pointer;
    margin-left: 10px;
}
.fa-sort-up{
    color: rgb(31, 31, 196);
}
.fa-sort-down{
    color: rgb(31, 31, 196);
} 
