@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "src/scss/globals";

.print-section {
  width:100%;
  max-width: 100%;
}

@media print {

  .print-section {
    font-family: "Roboto Mono", "Roboto", sans-serif;
    font-size: 15px;
    .helpIcon {
      display: none;
    }
    .phoneNumberSpacing {
      margin-left: 0;
    }
    .order-details .item-wrapper .price {
      min-width: 90px;
    }
    .order-details .item-wrapper .price .discount {
      color: #000;
    }
    .order-details .item-wrapper .item .item-specs,
    .order-details .item-wrapper .item .discount,
    .order-details .item-wrapper .item h2 span{
      font-size: 14px;
      font-weight: 600;
    }
    .order-details .cart-total-wrapper .total, .order-details .cart-total-wrapper .price {
      font-size: 1em;
      font-weight: 600;
    }
  }
}

.ml-15{
    margin-left: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
.reject-reason{
    margin-left: 32px;
    margin-bottom: 8px;
    margin-top: 6px;
}
.mt-10{
    margin-top: 10px;
}
::ng-deep .sidebar-lg-show {
    .cdk-overlay-pane {
        @media (min-width: 0px) and (max-width: 800px) {
            width: 80% !important;
        }
    }
    .input-field{
        @media (min-width: 320px) and (max-width: 425px) {
            width: 40% !important;
        }
    }
    .m-10{
        @media (min-width: 320px) and (max-width: 425px) {
            margin-top: 10px;
        }
    }
    .marginb-2{
        @media (min-width: 320px) and (max-width: 425px) {
            margin-bottom: 0.5rem;
        }
    }
}

.invalid-minutes{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f86c6b;
}
.print-space{
    margin-bottom: 40px;
}

.btn-order-confirm {
  background-color: #008000 !important;
  border-color: #008000 !important;
}

.btn-order-reject {
  background-color: #f86c6b !important;
  border-color: #f86c6b !important;
}

.no-border-bottom {
  border-bottom: 0 !important;
}

::ng-deep .form-control.is-invalid {
  background-image: none !important;
}

.input-field { 
  max-width: 80px !important;
  min-width: 80px !important;
  padding: 6px 6px 6px 12px !important;
}

.time-input-field { 
  max-width: 60px !important;
  min-width: 60px !important;
  padding: 6px 10px 6px 10px !important;
  text-align: center;
}

.btn-group .btn-primary {
  color: $blue;
  background-color: #ffffff;
  border: 1px solid $blue !important;
  border-radius: 0.4rem !important;
  font-size: 1em !important;
}

.btn-group {
  max-width: 265px !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-group .btn-primary.active {
  color: rgb(255, 255, 255);
  background-color: $blue;
}

.btn-group label {
  flex: 1 1 21% !important;
  min-width: 54px !important;
  max-width: 54px !important;
  min-height: 36px !important;
  max-height: 36px !important;
  padding: 0.375rem !important;
  margin: 4px 12px 4px 0px !important;
}

.form-control {
  // border: 1px solid $blue !important;
  border-radius: 0.250rem !important;
  font-size: 1em !important;
  padding: 0.438rem 0.656rem;
}

.pl-35 {
  padding-left: 35px !important;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
}