<div class="card list mb-0">
  <div class="card-body py-0">
    <div class="row">
      <div class="col-xl-2 col-lg-4">
        <a href="https://www.trustpayments.com/">
          <img src="assets/trustpayments_logo.png" width="100%" style="max-width: 110px">
        </a>
      </div>
      <div class="col-xl-10 col-lg-8">
        <label class="col-form-label d-block mb-0">{{'admin.store.payment.trustpaymentsUserMsg' | translate}}</label>
        <button *ngIf="!showFields && !trustpaymentsConnected" class="btn btn-primary px-5" (click)="onTrustpaymentsClicked()">Connect with TrustPayments</button>
        <form class="form-group" [formGroup]="trustpaymentsForm" *ngIf="showFields && !trustpaymentsConnected">
          <div class="row">
            <div class="col-md-2">
              {{'admin.store.payment.siteReference' | translate}}
            </div>
            <div class="col-md-5">
              <input type="text" formControlName="TRUSTPAYMENTS_SITE_REFERENCE" class="form-control" maxlength="100">
              <div class="invalid-feedback" *ngIf="getControl('TRUSTPAYMENTS_SITE_REFERENCE').errors?.required && getControl('TRUSTPAYMENTS_SITE_REFERENCE').touched">
                <span>
                  {{'admin.global.field.required'|translate}}</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">	
            <div class="col-md-2">
              {{'admin.store.payment.webserviceUser' | translate}}	
            </div>	
            <div class="col-md-5">	
                <input type="password"	
                    class="form-control" formControlName="TRUSTPAYMENTS_WEBSERVICE_USER" maxlength="100">	
                <div class="invalid-feedback" *ngIf="getControl('TRUSTPAYMENTS_WEBSERVICE_USER').errors?.required && getControl('TRUSTPAYMENTS_WEBSERVICE_USER').touched">	
                    <span>	
                        {{'admin.global.field.required'|translate}}</span>	
                </div>	
            </div>	
          </div>
          <div class="row mt-3">	
            <div class="col-md-2">	
                {{'admin.store.payment.webservicePassword' | translate}}	
            </div>	
            <div class="col-md-5">	
                <input type="password"
                    class="form-control" formControlName="TRUSTPAYMENTS_WEBSERVICE_PASSWORD" maxlength="100">	
                <div class="invalid-feedback" *ngIf="getControl('TRUSTPAYMENTS_WEBSERVICE_PASSWORD').errors?.required && getControl('TRUSTPAYMENTS_WEBSERVICE_PASSWORD').touched">	
                    <span>	
                        {{'admin.global.field.required'|translate}}</span>	
                </div>	
            </div>	
          </div>
          <div class="row mt-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-5 d-flex flex-row-reverse">
              <button class="btn btn-primary px-5" (click)="connect()">
                {{'admin.store.setting.integrations.connect'|translate}}
              </button>
            </div>
          </div>
        </form>
        <div *ngIf="trustpaymentsConnected">
          <div class="row">
            <div class="col-md-2">{{'admin.store.payment.siteReference'|translate}}</div>
            <div class="col-md-4">{{this.siteReference}}</div>
            <div class="col-md-2">
              <button class="btn btn-danger px-5" (click)="disconnect()">
                {{'admin.store.disconnect'|translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="form-horizontal mt-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-check-label">{{'admin.store.payment.creditCard'|translate}} <img
                    class="ml-3 cc-payment-image" src="assets/img/payment-credit-card.png">
                </label>&nbsp;
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{'admin.store.disabled'|translate}}</label>&nbsp;
                <label class="switch pt-1 mb-0">
                  <input type="checkbox" id="enableTrustpaymentsPaymentcreditCard" [(ngModel)]="trustpaymentsEnabled" (ngModelChange)="toggleTrustpaymentsPayments($event)" [disabled]="!siteReference"/>
                  &nbsp;<span class="slider round"></span>
                </label>&nbsp;
                <label>{{'admin.store.enabled'|translate}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>