<div class="col-lg-12">
  <div class="card list">
    <div class="card-header">
      {{'admin.store.users.header'|translate}}
      <app-help-icon [helpPageName]="usersHelpPage"></app-help-icon>
    </div>
    <ul class="nav navbar-nav pt-3">
      <li class="nav-item py-2">
        <button type="button" class="btn btn-primary" (click)="openDialog()">
          <i class="fas fa-user-plus mr-1"></i> {{'admin.store.users.inviteUser.inviteTitle'|translate}}</button>
      </li>
    </ul>
    <div class="card-body pt-2">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th>{{'admin.global.name'|translate}}</th>
            <th>{{'admin.global.role'|translate}}</th>
            <th>{{'admin.global.email'|translate}}</th>
            <th>{{'admin.global.phoneNumber'|translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!(users$ | async)?.data?.length">
            <td colspan="5">{{'admin.global.noData'|translate}}</td>
          </tr>
          <tr *ngFor="let user of (users$ | async)?.data">
            <td>{{ user.firstName + ' ' + user.lastName}}</td>
            <td>
              <ng-container *ngIf="user.storeRole === 'STORE_ADMIN'">{{'admin.global.administrator' | translate}}</ng-container>
              <ng-container *ngIf="user.storeRole === 'STORE_STANDARD'">{{'admin.global.standardUser' | translate}}</ng-container>
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.country?.phoneCode }}<span class="ml-1">{{ user.phoneNumber }}</span></td>
            <td><i (click)="removeUserStoreAcess(user.id)" title="{{'admin.users.removeAccessMsg'|translate}}" class="fas fa-user-minus text-dark cursor-pointer"></i></td>
          </tr>
        </tbody>
      </table>
      <app-pager
        [totalPagesCount]="(users$ | async)?.totalPages"
        [page]="(users$ | async)?.paging?.page"
        [size]="(users$ | async)?.paging?.size"
        (paginate)="paginate($event)"
      >
      </app-pager>
    </div>
  </div>
</div>
