<div class="col-lg-12">
  <div class="card list">
    <div class="card-header">
      <div>{{'admin.account.changePassword'|translate}}</div>
    </div>
    <div class="card-body">
      <ng-container *ngIf="(status$ | async) === 'FAILED'">
        <div role="alert" class="alert alert-danger" *ngFor="let error of (errors$ | async)">
          <strong>{{'admin.alerts.headerError'|translate}}</strong> {{ error }}
        </div>
      </ng-container>
      <form [formGroup]="passwordUpdateForm">
        <div class="input-group mb-3">
          <input type="password" class="form-control"
            [class.is-invalid]="password.invalid && (password.dirty || password.touched)" placeholder="{{'admin.account.currentPassword'|translate}}"
            autocomplete="currentPassword" formControlName="password" maxlength="100"/>
          <div class="invalid-feedback" *ngIf="password.errors && password.errors.required">
           {{'admin.global.field.required'|translate}}
          </div>
          <div class="invalid-feedback" *ngIf="password.errors && password.errors.minlength">
            {{'admin.global.field.minLength' | translate:{minLength : password.errors.minlength.requiredLength} }}.
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control"
            [class.is-invalid]="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
            placeholder="{{'admin.account.newPassword'|translate}}" autocomplete="newPassword" formControlName="newPassword" maxlength="100"/>
          <div class="invalid-feedback" *ngIf="newPassword.errors && newPassword.errors.required">
            {{'admin.global.field.required'|translate}}
          </div>
          <div class="invalid-feedback" *ngIf="newPassword.errors && newPassword.errors.minlength">
            {{'admin.global.field.minLength' | translate:{minLength : newPassword.errors.minlength.requiredLength} }}.
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control"
            [class.is-invalid]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            placeholder="{{'admin.updatePassword.confirmPassword'|translate}}" autocomplete="confirmPassword" formControlName="confirmPassword" maxlength="100"/>
          <div class="invalid-feedback" *ngIf="confirmPassword.errors">
            <span *ngIf="confirmPassword.errors.required">{{'admin.global.field.required'|translate}}</span>
            <span *ngIf="confirmPassword.errors.matchFields">{{'admin.user.details.confirmPasswordErrorMsgMisMatch'|translate}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-primary px-4" (click)="change()"
              [disabled]="passwordUpdateForm.invalid">
              {{'admin.account.changePassword'|translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>