.asap-settings-option,
.future-settings-option {
    text-align: center;
}

.fs-21 {
    font-size: 21px;
}

.default-option{
    color: grey;
    opacity: 0.5 !important;
    border: 1px solid #e4e7ea;
}