<div class="sticky-wrapper">
  <header class="site-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-sm-6 col-5">
          <a href="https://www.gonnaorder.com/" class="custom-logo-link" rel="home" aria-current="page"
            target="_blank"><img src="assets/img/branding/logo-basic.svg" class="custom-logo" alt="GonnaOrder"
              width="481.14" height="186.61"></a>
        </div>
        <div class="header-mobile-menu col-md-2 col-sm-6 col-7" *ngIf="!isSuccessPage">
          <mat-select [(value)]="languageId" class="mat-select-custom" (selectionChange)="onLanguageChange($event)">
            <mat-option *ngFor="let language of languagesList" [value]="language.id">
              {{ language.name }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </header>
</div>