@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../scss/globals";
@import "../login/login.component";

.app-body {
  .card-body {
    .forgot-wrapper {
      padding-top: 2.500rem;
      @media (max-width: 1280px) {
        padding-top: 1.500rem;
      }
      button {
        margin: 0;
        padding: 0;
        margin-left: 5px;
      }
    }
  }
  .card-group-cust {
    margin-top: -15% !important;
  }
}
.comma-field::after {
  content: ", ";
}
.mat-error,
.mat-hint {
  font-size: 14% !important;
}
.mat-form-field-custom{
  width: 100% !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color:rgba(0,0,0,.12)!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(0,0,0,.6)!important;
}
@media (max-width: 425px) {
  .app-body {
    .card-group-cust {
      margin-top: -50% !important;
    }
  }
}
@media (max-width: 768px) {
  .app-body .card-group {  
    &::before {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
@media only screen and (device-width: 768px) {
  .app-body {
    .card-group-cust {
      margin-top: -35% !important;
    }
  }
}