<app-header (locale)="onLocaleChange($event)"></app-header>
<div class="app-body mt-1 pt-1">
  <main class="main d-flex align-items-center">
    <div class="container px-md-5 pt-0">
      <div class="d-flex flex-row px-2 px-sm-5">
        <div class="d-flex w-100 mx-auto">
          <div class="card-group w-100 mx-md-5 mt-0">
            <div class="card px-2 py-4 p-md-4">
              <div class="card-body w-100 mx-auto">
                <div class="alert-wrapper w-100 justify-content-center">
                  <div class="container text-center">
                    <div class="d-flex flex-row alert-flex-row w-100">
                      <div class="d-flex w-100">
                        <div *ngIf="(state$ | async).status === 'FAILED'" role="alert"
                          class="alert alert-danger w-100 mb-0">
                          <div
                            *ngIf="(state$ | async).errorMessage === ('User with email does not exist in the system'); then thenBlock else elseBlock">
                          </div>
                          <ng-template #thenBlock>
                            <div class="forgot-wrapper d-flex flex-row justify-content-center align-items-center pt-2">
                              <div class="d-flex btn-pre-text text-dark-blue comma-field">
                                {{'admin.forgot.emailNotRegister' | translate}}</div>
                              <button type="button" class="d-flex btn btn-link px-0"
                                routerLink="/register">{{'admin.login.signUp' | translate}}</button>
                            </div>
                          </ng-template>
                          <ng-template #elseBlock><strong>Error!</strong>{{(state$ | async).errorMessage}}</ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form [formGroup]="emailForm" *ngIf="(state$ | async).status !== 'RESET_PASSWORD_SENT'">
                  <h1 class="text-center text-blue">{{'admin.forgot.header' | translate}}</h1>

                  <mat-form-field appearance="outline" class="mat-form-field-custom">
                    <mat-label>{{'admin.global.email'  | translate}}
                    </mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="email.touched && email.errors && email.errors.required">
                      {{'admin.global.field.required' | translate}}.
                    </mat-error>
                    <mat-error *ngIf="email.touched && email.errors && email.errors.email">
                      {{'admin.user.details.emailErrorMsgInvaild'|translate}}.
                    </mat-error>
                    <mat-error *ngIf="email.errors && email.errors.maxlength">
                      {{'admin.global.field.maxLength' | translate:{maxLength: email.errors.maxlength.requiredLength} }}.
                    </mat-error>
                  </mat-form-field>
                  <div class="d-flex flex-row justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary font-weight-bold" (click)="onSubmit()">
                      {{'admin.forgot.submit' | translate}}
                    </button>
                  </div>
                  <div class="forgot-wrapper d-flex flex-row justify-content-center justify-content-md-start">
                    <div class="d-flex btn-pre-text text-dark-blue align-items-center">
                      <span>{{'admin.forgot.alreadyKnow' | translate}}</span>
                      <button type="button" class="d-flex btn btn-link px-0"
                        (click)="goToLogin()">{{'admin.global.login' | translate}}</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>