<div class="offers-dialog d-flex flex-wrap justify-content-center align-items-center hide" #offersDialog>
    <div class="selection-container p-4 position-absolute">
        <div class="header-container d-flex flex-wrap">
            <div class="w-100">
                <div class="text-center justify-content-center font-size-header font-weight-bold">
                    {{'public.checkout.errors.orderSubmissionFailed' | translate}}
                    <span class="float-right position-absolute" style="cursor: pointer;top: 5px;right:15px;"
                        (click)="dismissOffersDialog()"><i class="fas fa-times" style="color:black"></i></span>
                </div>
                <div class="font-size-primary">
                    {{'public.checkout.errors.offersOutOfStockExplanation' | translate}}
                </div>
            </div>
        </div>
        <div class="offers-container py-2">
            <div class="item-list">
                <div class="item-wrapper text-select-none d-flex flex-column"
                    *ngFor="let offer of outOfStockOffers">
                    <div class="item flex-fill mb-3 text-unselectable">
                        <div class="p-0 mb-0 font-size-primary font-weight-bold d-flex flex-row">
                            <span class="mr-3">{{offer.orderQuantity}} x</span>
                            <div>
                                <div>{{offer.offerName}}</div>
                            </div>
                        </div>
                        <div class="text-unselectable font-size-secondary">
                            {{'public.checkout.offers.availableQuantity' | translate}}: {{offer.stockQuantity}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 font-size-primary text-unselectable">
                <a href="#" class="button dark d-block text-center py-3" (throttledClick)="dismissOffersDialog()"
                    appPreventDoubleClick [throttleTime]="5000">
                    {{'public.dialog.ok' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>
