<app-header (locale)="onLocaleChange($event)"></app-header>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container px-md-5">
      <div class="d-flex flex-row px-2 px-sm-5">
        <div class="d-flex w-100 mx-auto">
          <div class="card-group w-100 mx-md-5">
            <div class="card px-2 py-4 p-md-4">
              <div class="card-body w-100 mx-auto">
                <div *ngIf="(state$ | async).status === 'FAILED'" role="alert" class="alert alert-danger">
                    <strong>Error!</strong> {{(state$ | async).errorMessage}}
                </div>

                <form [formGroup]="passwordUpdateForm">
                  <h1 class="text-center text-blue">{{'admin.updatePassword.header' | translate}}</h1>
                  <p class="text-center text-blue mb-3"><b>{{'admin.updatePassword.subHeader' | translate}}</b></p>
                    <div class="input-group mb-3">
                      <label
                        class="d-flex w-100 text-blue"
                        for="email">
                        {{'admin.global.email' | translate}}
                      </label>
                      <input
                        type="text"
                        disabled="true"
                        readonly="true"
                        class="form-control"
                        value="{{(state$ | async).username}}"
                      />
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group mb-3">
                          <label
                            class="d-flex w-100 text-blue"
                            for="email">
                            {{'admin.global.password' | translate}}
                          </label>
                          <input
                            type="password"
                            class="form-control"
                            [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
                            placeholder="Password"
                            autocomplete="password"
                            formControlName="password"
                            maxlength="100"
                          />
                          <div
                            class="invalid-feedback"
                            *ngIf="password.errors && password.errors.required"
                          >
                            Password is required.
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="password.errors && password.errors.minlength"
                            >
                            {{'admin.global.field.minLength' | translate:{minLength : password.errors.minlength.requiredLength} }}.
                          </div>
                           <div
                            class="invalid-feedback"
                            *ngIf="password.errors && password.errors.maxlength"
                            >
                            {{'admin.global.field.maxLength' | translate:{maxLength : password.errors.maxlength.requiredLength} }}.
                           </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group mb-3">
                          <label
                            class="d-flex w-100 text-blue"
                            for="email">
                            {{'admin.updatePassword.confirmPassword' | translate}}
                          </label>
                          <input
                            type="password"
                            class="form-control"
                            [class.is-invalid]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                            placeholder="Confirm password"
                            autocomplete="confirmPassword"
                            formControlName="confirmPassword"
                            maxlength="100"
                          />
                          <div
                            class="invalid-feedback"
                            *ngIf="confirmPassword.errors"
                          >
                            <span *ngIf="confirmPassword.errors.required">Confirm password is required</span>
                            <span *ngIf="confirmPassword.errors.matchFields">Passwords do not match</span>
                            <span *ngIf="confirmPassword.errors.maxlength">{{'admin.global.field.maxLength' | translate : {maxLength: confirmPassword.errors.maxlength.requiredLength} }}.</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex flex-row justify-content-center mt-4">
                      <button
                        type="button"
                        class="btn btn-primary font-weight-bold"
                        (click)="update()"
                        [disabled]="passwordUpdateForm.invalid">
                        {{'admin.global.update' | translate}}
                      </button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
