.icon-celery{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Celery.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Celery.svg') no-repeat center;
}
.icon-crustaceans{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Crustaceans.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Crustaceans.svg') no-repeat center;
}
.icon-eggs{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Eggs.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Eggs.svg') no-repeat center;
}
.icon-fish{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Fish.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Fish.svg') no-repeat center;
}
.icon-lupin{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Lupin.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Lupin.svg') no-repeat center;
}
.icon-milk{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Milk.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Milk.svg') no-repeat center;
}
.icon-molluscs{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Molluscs.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Molluscs.svg') no-repeat center;
}
.icon-mustard{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Mustard.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Mustard.svg') no-repeat center;
}
.icon-nuts{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Nuts.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Nuts.svg') no-repeat center;
}
.icon-peanuts{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Peanuts.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Peanuts.svg') no-repeat center;
}
.icon-sesame{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Sesame.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Sesame.svg') no-repeat center;
}
.icon-soya{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Soya.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Soya.svg') no-repeat center;
}
.icon-sulphur-dioxide{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Sulphur_Dioxide.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Crustaceans.svg') no-repeat center;
}
.icon-vegan{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Vegan.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Vegan.svg') no-repeat center;
}
.icon-halal{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Halal.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Halal.svg') no-repeat center;
}
.icon-spicy_1{
    background-size: contain !important;
    background: url('/assets/img/offer-characteristics/Customer/Spicy_1.svg') no-repeat center;
    background: url('/assets/img/offer-characteristics/Customer/Spicy_1.svg') no-repeat center;
}
.icon-spicy_2{
    background-size: contain !important;
    background: url('/assets/img/offer-characteristics/Customer/Spicy_2.svg') no-repeat center;
    background: url('/assets/img/offer-characteristics/Customer/Spicy_2.svg') no-repeat center;
}
.icon-spicy_3{
    background-size: contain !important;
    background: url('/assets/img/offer-characteristics/Customer/Spicy_3.svg') no-repeat center;
    background: url('/assets/img/offer-characteristics/Customer/Spicy_3.svg') no-repeat center;
}
.icon-vegetarian{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Vegetarian.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Vegetarian.svg') no-repeat center;
}
.icon-wheat{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Wheat.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Wheat.svg') no-repeat center;
}
.icon-barley{
    background-color: black;
    -webkit-mask: url('/assets/img/offer-characteristics/Customer/Barley.svg') no-repeat center;
    mask: url('/assets/img/offer-characteristics/Customer/Barley.svg') no-repeat center;
}