// Variable overrides
//----- COLORS -----
$pure-black: #000;
$blue: #273773;
$dark-blue: #222831;
$mint-green: #48b9b7;
$link-blue: #263575;
$admin-gray: #f8f8f8;
$admin-menu-text: #919191;
$admin-menu-text: #000000;


//----- ADMIN VARS -----
$admin-header-lg-height: 72px;
$admin-header-height: 50px;
$admin-menu-width: 250px;

$input-font-size: 16px;
